
.rskp-e-header {
	width: 100%;
	border-collapse: separate;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebedf2;
}

.rskp-e-header__contacts { 
	text-align: right; 
	vertical-align: middle;
}

.rskp-e-header__contacts > div:focus,
.rskp-e-header__contacts > div:focus-visible {
	outline: none;
}
