.rstuning .rstuning__option__dd__counter {
  counter-reset: dd-counter; }

.rstuning .rstuning__option__dd__counter-increment {
  position: relative;
  display: inline-block; }
  .rstuning .rstuning__option__dd__counter-increment:before {
    counter-increment: dd-counter;
    content: counter(dd-counter).;
    display: inline-block;
    margin-right: 15px; }

.rstuning .rstuning__option__dd__drag {
  cursor: move;
  cursor: -webkit-grabbing; }
  .rstuning .rstuning__option__dd__drag svg {
    fill: none;
    stroke: #7d8698;
    stroke-width: 1px; }

.rstuning .rstuning__option__dd__fallback {
  left: 52px !important;
  opacity: 1 !important; }
  .rstuning .rstuning__option__dd__fallback .rstuning__option__dd__counter-increment:before {
    counter-increment: none;
    content: '-'; }
  .rstuning .rstuning__option__dd__fallback .rstuning__option__dd__drag svg {
    stroke: #ff5500; }

.rstuning .rstuning__option__dd .rstuning__option {
  margin-bottom: 0; }
