.rstuning__option__title {
  display: inline-block;
  font-size: 38px;
  font-weight: 500;
  margin: 0 0 10px; }
  @media (max-width: 767px) {
    .rstuning__option__title {
      font-size: 28px;
      margin-bottom: 6px; } }
