.flex{
    display: flex;
    justify-content: space-between;
    
}
#form-date {
    display: flex;
}

.send-date-form input:first-child {
    margin-right: 10px;
}

.ui-datepicker-header {
    display: flex;
}

.ui-datepicker-div {
    display: block;
}

.ui-datepicker {
    background: #fff;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    padding: 10px;
    border-radius: 4px;
}

.ui-datepicker {
    justify-content: space-between;
    width: 265px;
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
    text-align: left;
    list-style: none;
    line-height: 1.5 !important;
}

.ui-datepicker-calendar thead {
    padding: 9px 50px;
    color: #74788d;
}

.ui-datepicker-calendar tbody td {
    width: 30px;
    height: 30px;
}

.ui-state-disabled {
    color: red;
}
.tooltip_2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip_2 .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #253590 ;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -60px;
}

.tooltip_2:hover .tooltiptext {
    visibility: visible;
}